/* disini css Menu Dropdown */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    width: 100%;
    background: rgb(19, 1, 36);
}
h1{
    margin: 10px;
    text-transform: uppercase;
    color: blueviolet ;
    text-align: center;
}
header > ul{
    display: flex;
}
li{
    list-style: none ;
    margin: 10px;
    color: rgb(155, 122, 155);
}
body{
    background-color: pink;
    background-size: 50px;
    background-size: inherit;
    border: solid;
}
.Drop{
    display: none;
    background: rgb(67, 9, 124);
    position: absolute;
}
.Drop-Trigger:hover .Drop{
    display: block;
    position: relative;
}
ul .Drop-Trigger

/* .Drop-Trigger:hover{
    background: rgb(67, 9, 124);
} */

/* Disini Css Slider */
.slider1{
    border: 5px solid violet;
    position: relative;
    overflow: hidden;
    background-color: rgb(162, 79, 221);
    margin: 50px auto;
    width: 700px;
    height: 400px;
}

.sliderisi img{
    width: 700px;
    height: 500px;
    float: left;

}

.sliderisi{
    position: absolute;
    width: 2810px;
    animation-name: gambar;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-name: gambar;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: gambar;
    -moz-animation-duration: 5s;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: gambar;
    -o-animation-duration: 5s;
    -o-animation-timing-function: ease-in-out;
    -o-animation-iteration-count: infinite;   
    
}

.sliderisi:hover{
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;

}

/* .sliderisi img{
    float: right;
} */

.slider1:after{
    /* font-size: */
    position: absolute;
    z-index: 12;
    /* color: ; */
    left: 300px; top: 100px;
    transition: 1s all ease-in-out;
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -o-transition: ease-in-out;
}

/* .slider1:hover:after{
    color: ;
} */

@keyframes gambar{
    0%{
        left: 0; opacity: 0;
    }
     2%{
         opacity: 1;
    }
    20%{
        left: 0; opacity: 0;
    }
    21%{
         opacity: 0;
    }
    24%{
        opacity: 0;
    }
    25%{
        left: -701px; opacity: 1;
    }
    45%{
        left: -701px; opacity: 1;
    }
    46%{
        opacity: 0;
    }
     48%{
        opacity: 0;
    }
    50% {
		left: -1401px; opacity: 1; 
	}     
	70% {
		left: -1401px; opacity: 1; 
	}     
	72% {
		opacity: 0; 
	}     
	74% {
		opacity: 0; 
	}    
	75% {
		left: -2109px; opacity: 1; 
	}   	
	95% {
		left: -2109px; opacity: 1; 
	}   	
	97% { 
		left: -2109px; opacity: 0; 
	} 

	100% {
		left: 0; opacity: 0; 
    }
}
    
    /* untuk moz */
    @-moz-keyframes gambar{
        0%{
            left: 0; opacity: 0;
        }
         2%{
             opacity: 1;
        }
        20%{
            left: 0; opacity: 1;
        }
        21%{
             opacity: 0;
        }
        24%{
            opacity: 0;
        }
        25%{
            left: -700px; opacity: 1;
        }
        45%{
            left: -700px; opacity: 1;
        }
        46%{
            opacity: 0;
        }
         48%{
            opacity: 0;
        }
        50% {
            left: -1536px; opacity: 1; 
        }     
        70% {
            left: -1536px; opacity: 1; 
        }     
        72% {
            opacity: 0; 
        }     
        74% {
            opacity: 0; 
        }    
        75% {
            left: -2304px; opacity: 1; 
        }   	
        95% {
            left: -2304px; opacity: 1; 
        }   	
        97% { 
            left: -2304px; opacity: 0; 
        } 
    
        100% {
            left: 0; opacity: 0; 
        }
   
}

/* untuk webkit */
@-webkit-keyframes gambar{
    0%{
        left: 0; opacity: 0;
    }
     2%{
         opacity: 1;
    }
    20%{
        left: 0; opacity: 1;
    }
    21%{
         opacity: 0;
    }
    24%{
        opacity: 0;
    }
    25%{
        left: -700px; opacity: 1;
    }
    45%{
        left: -700px; opacity: 1;
    }
    46%{
        opacity: 0;
    }
     48%{
        opacity: 0;
    }
    50% {
        left: -1536px; opacity: 1; 
    }     
    70% {
        left: -1536px; opacity: 1; 
    }     
    72% {
        opacity: 0; 
    }     
    74% {
        opacity: 0; 
    }    
    75% {
        left: -2304px; opacity: 1; 
    }   	
    95% {
        left: -2304px; opacity: 1; 
    }   	
    97% { 
        left: -2304px; opacity: 0; 
    } 

    100% {
        left: 0; opacity: 0; 
    }

}

/* untuk si o */
/* @-o-keyframes gambar{
    0%{
        left: 0; opacity: 0;
    }
     2%{
         opacity: 1;
    }
    20%{
        left: 0; opacity: 0;
    }
    21%{
         opacity: 0;
    }
    24%{
        opacity: 0;
    }
    25%{
        left: -768px; opacity: 1;
    }
    45%{
        left: -768; opacity: 1;
    }
    46%{
        opacity: 0;
    }
     48%{
        opacity: 0;
    }
    50% {
        left: -1536px; opacity: 1; 
    }     
    70% {
        left: -1536px; opacity: 1; 
    }     
    72% {
        opacity: 0; 
    }     
    74% {
        opacity: 0; 
    }    
    75% {
        left: -2304px; opacity: 1; 
    }   	
    95% {
        left: -2304px; opacity: 1; 
    }   	
    97% { 
        left: -2304px; opacity: 0; 
    } 

    100% {
        left: 0; opacity: 0; 
    }

} */

/* disini Css kotak-kotak warna */
.kotak1{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(#debcf1, #d344bb);
    padding: 10px;
    margin: 100px;
}

.kotak1:hover{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(#d4c5db, #540980);
    padding: 10px;
    margin: 100px;
    border-radius: 100px;  
}
/* close */

/* css untuk kotak 2 */
.kotak2{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(#e4cec4, #ea5455);
    padding: 10px;
    margin: 100px;
    position: relative;
    bottom: 220px;
    left: 230px;
}

.kotak2:hover{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(#fff6b7, #f6416c);
    padding: 10px;
    margin: 100px;
    border-radius: 100px;
}
/* close */  

/* css untuk kotak 3 */
.kotak3{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(#c7f0ec, #2a9e92);
    padding: 10px;
    margin: 100px;
    position: relative;
    bottom: 440px;
    left: 450px;
}


.kotak3:hover{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(#d9ebe1, #187a45);
    padding: 10px;
    margin: 100px;
    border-radius: 100px;
}
/* close */  
