*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    width: 100%;
    background: rgb(19, 1, 36);
}

h1{
    margin: 10px;
    text-transform: uppercase;
    color: blueviolet ;
    text-align: center;
}

header > ul{
    display: flex;
}

li{
    list-style: none ;
    margin: 10px;
    color: rgb(155, 122, 155);
}

body{
    background-image:url(../img/Gradient\ 3.jpg ;
    background-size: 50px;
    background-size: inherit;
    border: solid;
}

.Drop-Trigger:hover .Drop{
    display: block;
    position: relative;
    background-color:violet ;
    z-index: 1000;
}

.Drop{
    display: none;
    background: rgb(67, 9, 124);
}

.Drop-Trigger:hover{
    background: rgb(67, 9, 124);
}